<div class="item">
  <div class="testimony-wrap py-4">
    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span>
    </div>
    <div class="text">
      <div class="text-center">
        <div class="user-img mx-auto" style="background-image: url(images/weatherbg/{{this.icon}}.jpg)">
        </div>
        <div class="text-center">
          <h2 class="name">{{this.temperature}}ยบ</h2>
          <p class="position">windSpeed: {{this.windSpeed}}</p>
          <p class="position">{{calculatorTime this.time}}</p>
        </div>
      </div>
    </div>
  </div>
</div>