<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/images/logoweather.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Weather App</title>
</head>

<body>
  {{>header}}
  <main>
    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-6 pl-md-5">
            <div class="row justify-content-start py-5">
              <div class="col-md-12 heading-section ftco-animate pr-md-5 py-md-4">
                <span class="subheading">Welcome to WeatherApp</span>
                <div class="weather-search  ftco-animate">
                  <form action="/autocomplete" method="POST">
                    <div class="input-group mb-3">
                      <input id="search" type="text" class="form-control" placeholder="Type your location..." name="search">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="heading-section ftco-animate ">
                  <h2 class="mb-4">Accurate Weather Forecast & Weather Radar MapWeather</h2>
                  <p style="text-align: justify;">This weather app is one of best free weather apps with full features: Local
                    weather, weather map (weather map service)
                    and weather widgets.
                    Forecastle: Forecast now, hourly forecast and daily forecast app
                    Widgets for Android: The weather radar widget free and clock widget weather with beautiful style.
                    Weather map, weather radar map: Local weather radar app free with a lot of radar scope: Rain/snow,
                    temperature,
                    pressure, windy, clouds, humidity, waves, … and storm radar.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex">
            <div
              class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
              style="background-image:url(images/app.jpg);">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {{>footer}}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</html>